// Grid.
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1180px
);
$grid-gutter-width: 20px;

// Font families.
$ff: "Roboto", sans-serif;

// Font sizes.
$fs-xs: 13px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;

// Font weights.
$fw-regular: 400;
$fw-bold: 700;

// Line heights.
$lh: 1.5;

// Colors.
$white: #fff;
$black: #252E37;
$grey: #8f9bb3;
$primary: #00A1FF;
$light-bg: #F8FAFB;

// Others.
$tr: 0.35s;
$radius: 6px;
